<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzvanke.report.dao.SysUserDao">
    <!-- 表Sys_User映射 -->
    <resultMap type="com.hzvanke.report.pojo.SysUser" id="SysUserMapper">
        <id column="ID" property="id"/>
        <result column="UserCode" property="userCode"/>
        <result column="Password" property="password"/>
        <result column="UserName" property="userName"/>
        <result column="UserType" property="userType"/>
        <result column="Mobile" property="mobile"/>
        <result column="Email" property="email"/>
        <result column="Status" property="status"/>
        <result column="CreateTime" property="createTime"/>
        <result column="WxOpenId" property="wxOpenid"/>
        <association property="role" column="roleID" fetchType="eager"
                     select="com.hzvanke.report.dao.SysRoleDao.findById">
        </association>

    </resultMap>


    <select id="findById" resultMap="SysUserMapper">
        select * from sys_user where id=#{id}
    </select>

    <select id="findByObj" resultMap="SysUserMapper">
        select * from sys_user where ${key}=#{value}
    </select>
    <!--
        功能说明：根据用户名和密码获取一条记录
        参数说明：
                UserCode：用户帐号
                Password：用户密码（需MD5加密）
        作者：莫宁辉，开发时间：2019-08-16，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <select id="findByCodeAndPwd" resultMap="SysUserMapper">
        select *
         from sys_user where UserCode=#{UserCode} and Password=#{Password}
    </select>

    <!--
        功能说明：根据条件获取对应的用户数据（用户管理页使用，实现分页）返回view_sysuser_role视图与findCountByManage配合使用
        参数说明：sysUserSearch：查询实体类
        作者：莫宁辉，开发时间：2019-08-23，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <select id="findListByManage" resultMap="SysUserMapper" >
        select * from sys_user
        <where>
            <if test="sysUserSearch.userName != null and sysUserSearch.userName != ''">
                and UserName like CONCAT(CONCAT("%",#{sysUserSearch.userName}),"%")
            </if>
            <if test="sysUserSearch.userCode != null and sysUserSearch.userCode != ''">
                and UserCode = #{sysUserSearch.userCode}
            </if>
            <if test="sysUserSearch.role!=null">
                <if test="sysUserSearch.role.id !=null and sysUserSearch.role.id != ''">
                    and RoleId = #{sysUserSearch.role.id}
                </if>
            </if>
            <if test="roleName != null and roleName != ''">
                and roleid  in(
                select id from sys_role
               where  rolename !='系统管理员'
                )
            </if>
        </where>
        order by createTime desc LIMIT #{pageUtil.start},#{pageUtil.pageSize}
    </select>

    <!--
        功能说明：根据条件获取用户对应的总记录数（用户管理页使用）
        参数说明：sysUserSearch：查询实体类
        作者：莫宁辉，开发时间：2019-08-23，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <select id="findCountByManage" resultType="int" >
        select count(1) from sys_user
        <where>
            <if test="sysUserSearch.userName != null and sysUserSearch.userName != ''">
                and UserName like CONCAT(CONCAT("%",#{sysUserSearch.userName}),"%")
            </if>
            <if test="sysUserSearch.userCode != null and sysUserSearch.userCode != ''">
                and UserCode = #{sysUserSearch.userCode}
            </if>
            <if test="sysUserSearch.role!=null">
                <if test="sysUserSearch.role.id !=null and sysUserSearch.role.id != ''">
                    and RoleId = #{sysUserSearch.role.id}
                </if>
            </if>
            <if test="roleName != null and roleName != ''">
                and roleid  in(
                select id from sys_role
                where  rolename !='系统管理员'
                )
            </if>
        </where>
    </select>

    <!--
        功能说明：新增记录
        参数说明：实体类
        作者：莫宁辉，开发时间：2019-08-23，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <insert id="add" parameterType="com.hzvanke.report.pojo.SysUser">
    insert into sys_user (
        id,roleid,usercode,password,username,usertype,mobile,email,status,createtime,wxopenid)
     values (
        #{id},#{role.id},#{userCode},#{password},#{userName},#{userType},#{mobile},#{email},#{status},#{createTime},
        #{wxOpenid})
    </insert>

    <!--
        功能说明：修改记录
        参数说明：实体类
        作者：莫宁辉，开发时间：2019-08-23，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <update id="update" parameterType="com.hzvanke.report.pojo.SysUser">
        update sys_user
        <set>
            <if test="role!=null and role.id!=null and role.id!=''">roleid=#{role.id},</if>
            <if test="userCode!=null and userCode!=''">usercode=#{userCode},</if>
            <if test="password!=null and password!=''">password=#{password},</if>
            <if test="userName!=null and userName!=''">username=#{userName},</if>
            <if test="userType!=null and userType!=''">userType=#{userType},</if>
            <if test="mobile!=null and mobile!=''">mobile=#{mobile},</if>
            <if test="email!=null and email!=''">email=#{email},</if>
            <if test="wxOpenid!=null">wxOpenid=#{wxOpenid},</if>
        </set>
        where id=#{id}
    </update>

    <!--
        功能说明：根据主键ID集合批量删除
        参数说明：listKeyid：主键ID集合
        作者：莫宁辉，开发时间：2019-08-23，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <delete id="del" parameterType="java.util.List">
        delete from sys_user
        where id in
        <foreach collection="listKeyid" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--
        功能说明：根据主键ID集合批量更新状态
        参数说明：
                listKeyid：主键ID集合
                status：用户状态值
        作者：莫宁辉，开发时间：2019-08-23，版本号：1.1
        最后编辑：，编辑时间：，版本号：
     -->
    <update id="updateStatus">
        update sys_user set status=#{status}
        where id in
        <foreach collection="listKeyid" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
